<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-avatar slot="start">
        <img src="{{usuario?.icono}}"/>
      </ion-avatar>
      {{usuario?.nombre}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_conversacion">
    <span class="estilo_chat">
      Hola!
    </span>
  </div>

</ion-content>


<ion-footer> <!--Footer-->
  <ion-item> <!--Contenedor para texto, botones, iconos, inputs, etc-->
    <ion-toolbar> <!--Barras de herramientas-->
      <div class="textChat"> <!--Div que da forma al cuadro de iconos y texto-->
        <ion-grid> <!--Cuadrícula flexbox-->
          <ion-row> <!--En la misma FILA se añaden los iconos y el campo de input text-->

            <ion-buttons>
              <ion-button> <!--Botón para acceder a iconos-->
                <ion-icon name="happy-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-input placeholder="Mensaje" #inputMsg [(ngModel)]="inputmensaje" (ionChange)="onChangeMensaje($event)"></ion-input> <!--Cuadro de texto para escribir-->

            <ion-buttons>
              <ion-button> <!--Botón para acceder a multimedia-->
                <ion-icon name="attach-outline"></ion-icon>
              </ion-button>
            </ion-buttons>

            <ion-buttons>
              <ion-button> <!--Botón para abrir cámara-->
                <ion-icon name="camera-sharp"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-row> <!--Se cierra la fila-->
        </ion-grid> <!--Se cierra la cuadrícula-->
      </div>

    </ion-toolbar>

    <div class="divEnviar"> <!--Div para diferenciar entre enviar mensaje o grabar audio-->
      <ion-buttons *ngIf="cambioIcono==false">
        <ion-button>
          <ion-icon name="mic-sharp" class="iconoMicEnv"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons *ngIf="cambioIcono==true">
        <ion-button>
          <ion-icon name="send-sharp" class="iconoMicEnv"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>

  </ion-item>
</ion-footer>
