.textChat{
  border: 1px solid grey;
  border-radius: 30px;
  //padding: 5px;
  //width: 80%;
  //margin: 2px;
  //position: relative;

}

.divEnviar{
  border: 1px solid grey;
  border-radius: 100px;
  margin-left: 4px;
  width: 35px;
  height: 35px;
  background-color: #259f55;

}

.iconoMicEnv{
  margin-left: -3px;
  color: white;
}

.div_conversacion{
  margin-top: 15px;
  text-align: end;
  margin-right: 5px;
}

span.estilo_chat {
  border: 1px solid;
  padding: 3px;
  border-radius: 8px;
}




