.textChat{
  border: 1px solid grey;
  border-radius: 30px;
  //padding: 5px;
  //width: 80%;
  //margin: 2px;
  //position: relative;

}

.divEnviar{
  border: 1px solid grey;
  border-radius: 100px;
  margin-left: 4px;
  width: 35px;
  height: 35px;
  background-color: #259f55;

}

.iconoMicEnv{
  margin-left: -3px;
  color: white;
}

/*DIV EMISOR*/
.div_conversacion_emisor{
  margin-top: 15px;
  text-align: end;
  margin-right: 5px;
}

/*DIV RECEPTOR*/
.div_conversacion_receptor{
  margin-top: 15px;
  text-align: start;
  margin-left: 5px;
}

/*MENSAJE ENVIADO*/
span.estilo_chat_enviado {
  //border: 1px solid;
  padding: 3px;
  border-radius: 5px;
  background-color: #259f55;
  color: white;
}

/*MENSAJE RECIBIDO*/
span.estilo_chat_recibido {
  //border: 1px solid;
  padding: 3px;
  border-radius: 5px;
  background-color: #d2691e;
  color: black;
}

.div_conversacion_emisor:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 8px solid #259f55;
  border-bottom: 10px solid transparent;
  margin: 10px 0 0 20px;
}

.div_conversacion_receptor:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid chocolate;
  border-right: 10px solid transparent;
  border-left: 0px solid transparent;
  margin: 20px 0 0 25px;
}
